
.picker {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  user-select: none;
  background-color: #F8F8F8;
}

.picker div {
  text-align: center;
  margin-bottom: 5px;
}

.picker button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.grid div {
  padding: 5px 0;
  cursor: pointer;
  border-radius: 3px;
}
.grid div:hover {
  background-color: #ddd;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
}
